.lead {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 56px 100px 0;
  max-width: 1280px;
  color: #FFFFFF;
  position: relative;
  /* border: chocolate solid 1px; */
  /* grid-area: lead;
  box-sizing: border-box; */
}

@media screen and (max-width:1120px) {
  .lead {
    padding: 48px 48px 0;
  }
}