.lead {
  /* grid-area: lead;
  box-sizing: border-box; */
  
  display: flex;
    flex-direction: column;
    align-items: center;
    padding: 56px 0 0;
    max-width: 1280px;
    /* border: chocolate solid 1px; */
    color: #FFFFFF;
}

@media screen and (max-width:1024px) {
    .lead {
      padding: 48px 0 0;
    }
  }
  
  