.header {
  display: flex;
  justify-content: space-between;
  padding: 0;
  position: relative;
  box-sizing: border-box;
}

@media screen and (max-width: 1120px) {
  .header {
    padding: 0 48px 0;
  }
}

@media screen and (max-width: 900px) {
  .header {
    padding: 0 24px 0;
  }
}

@media screen and (max-width: 550px) {
  .header {
    padding: 0 16px 0;
  }
}