.footer__copyright {
    font-size: 14px;
    line-height: 16px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0em;
    margin: 0;
    padding: 0;
    margin-left: auto;
    /* justify-self: self-end; */
}

@media screen and (max-width: 767px) {
    .footer__copyright {
        margin-top: 48px;
        margin-left: 16px;
        margin-right: auto;
        margin-left: 0;
    }
}